@model List<SubscriptionPlan>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@if (!@User.Identity.IsAuthenticated)
{
    <div>
        <h3>You must sign in before you can create a subscription.  Please use the Sign In button above to sign in.</h3>
    </div>
}


<div class="subscriptions-grid">

    <div>
        <span>Subscribe</span>
    </div>

    <div>
        <span>Plan Description</span>
    </div>

    <div>
        <span>Monthly Cost</span>
    </div>

    <div>
        <span>Subscription duration</span>
    </div>

    <div>
        <span>Total subscription cost</span>
    </div>

    @foreach (SubscriptionPlan sp in Model)
    {
        <div id="selectionParent">
            <input type="checkbox" data="@sp.PlanPaymentProviderID" />
        </div>

        <div>
            <span>@sp.PlanDescription</span>
        </div>

        <div>
            <span>@sp.MonthlyCost</span>
        </div>

        <div>
            <span>6 months</span>
        </div>

        <div>
            <span>@sp.Cost</span>
        </div>
    }

</div>




@if (User.Identity.IsAuthenticated)
{
    <button onclick="subscribeClient.NavigateToPaymentProcessor(1)">Continue to Checkout</button>
}
else
{
    <button onclick="subscribeClient.NavigateToPaymentProcessor(0)">Continue to Account Login</button>
}
@section scripts
{
    <script type="module">
        import App from '/js/app.js'
        const a = new App();
        window.subscribeClient = a.GetSubscriber('@ViewData["stripe_pk"]');
        window.subscribeClient.NavigateToPaymentProcessor(false);
    </script>

}


@*<script type="module">
        import m1 from '/js/m1.js';
        const m = new m1();
        const mm = m.getm2();
        mm.sayHello();
    </script>*@



@*<script>
        window.subscribeClient = {

    navigateToPaymentProcessor: function (isLoggedIn) {
            var c = this.getSelectionCount();

            if (c === 0) {
                alert("Please choose a subscription.");
                return;
            }
            else if (c > 1) {
                alert("Please choose only one subscription.");
                return;
            }

                var product = this.getSelectedSubscription();
                $.post('/subscription/accountsetup')



            var stripe = Stripe('@ViewData["stripe_pk"]');
            stripe.redirectToCheckout({
            customerEmail: "sam.wheat@outlook.com",
                    lineItems: [{ price: product, quantity: 1 }],
                    successUrl: '@Url.Action("Action", "Subscription", null, this.Context.Request.Scheme)',
                    cancelUrl: '@Url.Action("Action", "Subscription", null, this.Context.Request.Scheme)',
                    mode:'subscription'
                });
        },

            getSelectionCount: function() {
            return $("#selectionParent > input:checked").length;
        },

            getSelectedSubscription: function() {
            return $("#selectionParent > input:checked").attr("data");
        },

            handleResult: function (result) {
            if (result.error) {
                var displayError = document.getElementById("error-message");
                displayError.textContent = result.error.message;
            }
        }
    }
        </script>*@




